button::-moz-focus-inner {
  border: 0; }

/* minimal
*******************************************************************************/
button.minimal {
  background: #e3e3e3;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: compact(inset 0 0 1px 1px #f6f6f6, false, false, false, false, false, false, false, false);
  -moz-box-shadow: compact(inset 0 0 1px 1px #f6f6f6, false, false, false, false, false, false, false, false);
  box-shadow: compact(inset 0 0 1px 1px #f6f6f6, false, false, false, false, false, false, false, false);
  color: #333;
  font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px; }
  button.minimal:hover {
    background: #d9d9d9;
    -webkit-box-shadow: compact(inset 0 0 1px 1px #eaeaea, false, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 0 1px 1px #eaeaea, false, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 0 1px 1px #eaeaea, false, false, false, false, false, false, false, false);
    color: #222;
    cursor: pointer; }
  button.minimal:active {
    background: #d0d0d0;
    -webkit-box-shadow: compact(inset 0 0 1px 1px #e3e3e3, false, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 0 1px 1px #e3e3e3, false, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 0 1px 1px #e3e3e3, false, false, false, false, false, false, false, false);
    color: #000; }

/* clean gray
*******************************************************************************/
button.clean-gray {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#eeeeee, #cccccc, false, false, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#eeeeee, #cccccc, false, false, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#eeeeee, #cccccc, false, false, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#eeeeee, #cccccc, false, false, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#eeeeee, #cccccc, false, false, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#eeeeee, #cccccc, false, false, false, false, false, false, false, false));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px; }
  button.clean-gray:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#dddddd, #bbbbbb, false, false, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#dddddd, #bbbbbb, false, false, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#dddddd, #bbbbbb, false, false, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#dddddd, #bbbbbb, false, false, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#dddddd, #bbbbbb, false, false, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#dddddd, #bbbbbb, false, false, false, false, false, false, false, false));
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
  button.clean-gray:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: compact(inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee, false, false, false, false, false, false, false); }

/* cupid green (inspired by okcupid.com)
*******************************************************************************/
button.cupid-green {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#7fbf4d, #63a62f, false, false, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#7fbf4d, #63a62f, false, false, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#7fbf4d, #63a62f, false, false, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#7fbf4d, #63a62f, false, false, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#7fbf4d, #63a62f, false, false, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#7fbf4d, #63a62f, false, false, false, false, false, false, false, false));
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: compact(inset 0 1px 0 0 #96ca6d, false, false, false, false, false, false, false, false);
  -moz-box-shadow: compact(inset 0 1px 0 0 #96ca6d, false, false, false, false, false, false, false, false);
  box-shadow: compact(inset 0 1px 0 0 #96ca6d, false, false, false, false, false, false, false, false);
  color: #fff;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px; }
  button.cupid-green:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#76b347, #5e9e2e, false, false, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#76b347, #5e9e2e, false, false, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#76b347, #5e9e2e, false, false, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#76b347, #5e9e2e, false, false, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#76b347, #5e9e2e, false, false, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#76b347, #5e9e2e, false, false, false, false, false, false, false, false));
    -webkit-box-shadow: compact(inset 0 1px 0 0 #8dbf67, false, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 1px 0 0 #8dbf67, false, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 1px 0 0 #8dbf67, false, false, false, false, false, false, false, false);
    cursor: pointer; }
  button.cupid-green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: compact(inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee, false, false, false, false, false, false, false); }

/* cupid blue (inspired by okcupid.com)
*******************************************************************************/
button.cupid-blue {
  background-color: #d7e5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#d7e5f5, #cbe0f5, false, false, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#d7e5f5, #cbe0f5, false, false, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#d7e5f5, #cbe0f5, false, false, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#d7e5f5, #cbe0f5, false, false, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#d7e5f5, #cbe0f5, false, false, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#d7e5f5, #cbe0f5, false, false, false, false, false, false, false, false));
  border-top: 1px solid #abbbcc;
  border-left: 1px solid #a7b6c7;
  border-bottom: 1px solid #a1afbf;
  border-right: 1px solid #a7b6c7;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: compact(inset 0 1px 0 0 white, false, false, false, false, false, false, false, false);
  -moz-box-shadow: compact(inset 0 1px 0 0 white, false, false, false, false, false, false, false, false);
  box-shadow: compact(inset 0 1px 0 0 white, false, false, false, false, false, false, false, false);
  color: #1a3e66;
  font: normal 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 6px 0 7px 0;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  width: 150px; }
  button.cupid-blue:hover {
    background-color: #ccd9e8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#ccd9e8, #c1d4e8, false, false, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#ccd9e8, #c1d4e8, false, false, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#ccd9e8, #c1d4e8, false, false, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#ccd9e8, #c1d4e8, false, false, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#ccd9e8, #c1d4e8, false, false, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#ccd9e8, #c1d4e8, false, false, false, false, false, false, false, false));
    border-top: 1px solid #a1afbf;
    border-left: 1px solid #9caaba;
    border-bottom: 1px solid #96a3b3;
    border-right: 1px solid #9caaba;
    -webkit-box-shadow: compact(inset 0 1px 0 0 #f2f2f2, false, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 1px 0 0 #f2f2f2, false, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 1px 0 0 #f2f2f2, false, false, false, false, false, false, false, false);
    color: #163659;
    cursor: pointer; }
  button.cupid-blue:active {
    border: 1px solid #8c98a7;
    -webkit-box-shadow: compact(inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee, false, false, false, false, false, false, false); }

/* blue pill (inspired by iTunes)
*******************************************************************************/
button.blue-pill {
  background-color: #a5b8da;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#a5b8da, #7089b3, false, false, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#a5b8da, #7089b3, false, false, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#a5b8da, #7089b3, false, false, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#a5b8da, #7089b3, false, false, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#a5b8da, #7089b3, false, false, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#a5b8da, #7089b3, false, false, false, false, false, false, false, false));
  border-top: 1px solid #758fba;
  border-right: 1px solid #6c84ab;
  border-bottom: 1px solid #5c6f91;
  border-left: 1px solid #6c84ab;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-box-shadow: compact(inset 0 1px 0 0 #aec3e5, false, false, false, false, false, false, false, false);
  -moz-box-shadow: compact(inset 0 1px 0 0 #aec3e5, false, false, false, false, false, false, false, false);
  box-shadow: compact(inset 0 1px 0 0 #aec3e5, false, false, false, false, false, false, false, false);
  color: #fff;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #64799e;
  text-transform: uppercase;
  width: 150px; }
  button.blue-pill:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#9badcc, #687fa6, false, false, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#9badcc, #687fa6, false, false, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#9badcc, #687fa6, false, false, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#9badcc, #687fa6, false, false, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#9badcc, #687fa6, false, false, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#9badcc, #687fa6, false, false, false, false, false, false, false, false));
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: compact(inset 0 1px 0 0 #a5b9d9, false, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 1px 0 0 #a5b9d9, false, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 1px 0 0 #a5b9d9, false, false, false, false, false, false, false, false);
    cursor: pointer; }
  button.blue-pill:active {
    border: 1px solid #546685;
    -webkit-box-shadow: compact(inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee, false, false, false, false, false, false, false); }

/* thoughtbot (inspired by thoughtbot.com)
*******************************************************************************/
button.thoughtbot {
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%, false, false, false, false, false, false));
  border: 1px solid #951100;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: compact(inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333, false, false, false, false, false, false, false);
  -moz-box-shadow: compact(inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333, false, false, false, false, false, false, false);
  box-shadow: compact(inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333, false, false, false, false, false, false, false);
  color: #fff;
  font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  padding: 12px 0 14px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  width: 150px; }
  button.thoughtbot:hover {
    background-color: #f37873;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%, false, false, false, false, false, false));
    cursor: pointer; }
  button.thoughtbot:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%, false, false, false, false, false, false));
    -webkit-box-shadow: compact(inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), false, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), false, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), false, false, false, false, false, false, false, false); }

/* punch
*******************************************************************************/
button.punch {
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: compact(inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111, false, false, false, false, false);
  -moz-box-shadow: compact(inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111, false, false, false, false, false);
  box-shadow: compact(inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111, false, false, false, false, false);
  color: #fff;
  font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #1e2d4d;
  width: 150px;
  -webkit-background-clip: padding-box; }
  button.punch:hover {
    -webkit-box-shadow: compact(inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111, false, false, false, false, false);
    box-shadow: compact(inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111, false, false, false, false, false);
    cursor: pointer; }
  button.punch:active {
    -webkit-box-shadow: compact(inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111, false, false, false, false, false);
    box-shadow: compact(inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111, false, false, false, false, false);
    margin-top: 58px; }

/* purple candy
*******************************************************************************/
button.purple-candy {
  background-color: #9e76e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#9e76e8 0%, #7038e0 50%, #6021de 50%, #6224de 100%, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#9e76e8 0%, #7038e0 50%, #6021de 50%, #6224de 100%, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#9e76e8 0%, #7038e0 50%, #6021de 50%, #6224de 100%, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#9e76e8 0%, #7038e0 50%, #6021de 50%, #6224de 100%, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#9e76e8 0%, #7038e0 50%, #6021de 50%, #6224de 100%, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#9e76e8 0%, #7038e0 50%, #6021de 50%, #6224de 100%, false, false, false, false, false, false));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #473569;
  width: 150px;
  -webkit-background-clip: padding-box; }
  button.purple-candy:hover {
    background-color: #8d69cf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#8d69cf 0%, #6332c7 50%, #551dc4 50%, #561fc4 100%, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#8d69cf 0%, #6332c7 50%, #551dc4 50%, #561fc4 100%, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#8d69cf 0%, #6332c7 50%, #551dc4 50%, #561fc4 100%, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#8d69cf 0%, #6332c7 50%, #551dc4 50%, #561fc4 100%, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#8d69cf 0%, #6332c7 50%, #551dc4 50%, #561fc4 100%, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#8d69cf 0%, #6332c7 50%, #551dc4 50%, #561fc4 100%, false, false, false, false, false, false));
    -webkit-background-clip: padding-box;
    cursor: pointer; }
  button.purple-candy:active {
    background: #4a1aab;
    background: -moz-radial-gradient(50% 31% 0deg, circle cover, rgba(38, 76, 153, 0.4), rgba(11, 23, 46, 0.4)), -moz-linear-gradient(top, #7b5cb5 0%, #572bad 50%, #4a1aab 50%, #4b1bab 100%);
    background: -webkit-gradient(radial, 50% 20%, 75, 50% 50%, 0, from(rgba(38, 76, 153, 0.4)), to(rgba(11, 23, 46, 0.4))), -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #7b5cb5), color-stop(0.5, #572bad), color-stop(0.5, #4a1aab), color-stop(1, #4b1bab));
    color: #ddd;
    -webkit-background-clip: padding-box; }

/* shiny blue (inspired by rdio iphone interface)
*******************************************************************************/
button.shiny-blue {
  background-color: #759ae9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%, false, false, false, false, false, false));
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: compact(inset 0 0 2px 0 rgba(57, 140, 255, 0.8), false, false, false, false, false, false, false, false);
  -moz-box-shadow: compact(inset 0 0 2px 0 rgba(57, 140, 255, 0.8), false, false, false, false, false, false, false, false);
  box-shadow: compact(inset 0 0 2px 0 rgba(57, 140, 255, 0.8), false, false, false, false, false, false, false, false);
  color: #fff;
  font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0;
  text-shadow: 0 -1px 1px #1a5ad9;
  width: 150px; }
  button.shiny-blue:hover {
    background-color: #5d89e8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%, false, false, false, false, false, false));
    cursor: pointer; }
  button.shiny-blue:active {
    border-top: 1px solid #1b4db3;
    border-right: 1px solid #174299;
    border-bottom: 1px solid #133780;
    border-left: 1px solid #174299;
    -webkit-box-shadow: compact(inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee, false, false, false, false, false, false, false); }

/* download itunes
   I wrote a blog post about creating this button:
   http://robots.thoughtbot.com/post/2718077289/make-css3-buttons-like-a-boss
*******************************************************************************/
button.download-itunes {
  background-color: #52a8e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#52a8e8, #377ad0, false, false, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#52a8e8, #377ad0, false, false, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#52a8e8, #377ad0, false, false, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#52a8e8, #377ad0, false, false, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#52a8e8, #377ad0, false, false, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#52a8e8, #377ad0, false, false, false, false, false, false, false, false));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: compact(inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3, false, false, false, false, false, false, false);
  -moz-box-shadow: compact(inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3, false, false, false, false, false, false, false);
  box-shadow: compact(inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3, false, false, false, false, false, false, false);
  color: #fff;
  font: normal 11px "lucida grande", sans-serif;
  line-height: 1;
  padding: 3px 5px;
  text-align: center;
  text-shadow: 0 -1px 1px #3275bc;
  width: 112px;
  -webkit-background-clip: padding-box; }
  button.download-itunes:hover {
    background-color: #3e9ee5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#3e9ee5 0%, #206bcb 100%, false, false, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#3e9ee5 0%, #206bcb 100%, false, false, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#3e9ee5 0%, #206bcb 100%, false, false, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#3e9ee5 0%, #206bcb 100%, false, false, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#3e9ee5 0%, #206bcb 100%, false, false, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#3e9ee5 0%, #206bcb 100%, false, false, false, false, false, false, false, false));
    border-top: 1px solid #2a73a6;
    border-right: 1px solid #165899;
    border-bottom: 1px solid #07428f;
    border-left: 1px solid #165899;
    -webkit-box-shadow: compact(inset 0 1px 0 0 #62b1e9, false, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 1px 0 0 #62b1e9, false, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 1px 0 0 #62b1e9, false, false, false, false, false, false, false, false);
    cursor: pointer;
    text-shadow: 0 -1px 1px #1d62ab;
    -webkit-background-clip: padding-box; }
  button.download-itunes:active {
    background: #3282d3;
    border: 1px solid #154c8c;
    border-bottom: 1px solid #0e408e;
    -webkit-box-shadow: compact(inset 0 0 6px 3px #1657b5, 0 1px 0 0 white, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 0 6px 3px #1657b5, 0 1px 0 0 white, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 0 6px 3px #1657b5, 0 1px 0 0 white, false, false, false, false, false, false, false);
    text-shadow: 0 -1px 1px #2361a4;
    -webkit-background-clip: padding-box; }

button[disabled].download-itunes,
button[disabled].download-itunes:hover,
button[disabled].download-itunes:active {
  background-color: #dadada;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#dadada, #f3f3f3, false, false, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#dadada, #f3f3f3, false, false, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#dadada, #f3f3f3, false, false, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#dadada, #f3f3f3, false, false, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#dadada, #f3f3f3, false, false, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#dadada, #f3f3f3, false, false, false, false, false, false, false, false));
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  -webkit-box-shadow: compact(none, false, false, false, false, false, false, false, false);
  -moz-box-shadow: compact(none, false, false, false, false, false, false, false, false);
  box-shadow: compact(none, false, false, false, false, false, false, false, false);
  color: #8f8f8f;
  cursor: not-allowed;
  text-shadow: 0 -1px 1px #ebebeb; }

button.download-itunes::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* skip (inspired by okcupid iphone interface)
*******************************************************************************/
button.skip {
  background-color: #8c9cbf;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%, false, false, false, false, false, false));
  border: 1px solid #172d6e;
  border-bottom: 1px solid #0e1d45;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: compact(inset 0 1px 0 0 #b1b9cb, false, false, false, false, false, false, false, false);
  -moz-box-shadow: compact(inset 0 1px 0 0 #b1b9cb, false, false, false, false, false, false, false, false);
  box-shadow: compact(inset 0 1px 0 0 #b1b9cb, false, false, false, false, false, false, false, false);
  color: #fff;
  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0 8px 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
  width: 150px; }
  button.skip:hover {
    background-color: #7f8dad;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%, false, false, false, false, false, false));
    cursor: pointer; }
  button.skip:active {
    -webkit-box-shadow: compact(inset 0 0 20px 0 #1d2845, 0 1px 0 white, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 0 20px 0 #1d2845, 0 1px 0 white, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 0 20px 0 #1d2845, 0 1px 0 white, false, false, false, false, false, false, false); }

/* minimal indent (inspired by okcupid iphone interface)
*******************************************************************************/
div.indent {
  background-color: #e2e2e2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#e2e2e2, #fafafa, false, false, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#e2e2e2, #fafafa, false, false, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#e2e2e2, #fafafa, false, false, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#e2e2e2, #fafafa, false, false, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#e2e2e2, #fafafa, false, false, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#e2e2e2, #fafafa, false, false, false, false, false, false, false, false));
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-top: 1px solid #dfdfdf;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 50px auto 0;
  padding: 10px 0;
  width: 170px; }

button.minimal-indent {
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%, false, false, false, false, false, false));
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #b4b4b4;
  border-right: 1px solid #dfdfdf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: compact(inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef, false, false, false, false, false, false);
  -moz-box-shadow: compact(inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef, false, false, false, false, false, false);
  box-shadow: compact(inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef, false, false, false, false, false, false);
  color: #666;
  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 7px 0;
  text-shadow: 0 1px 1px #fff;
  width: 150px; }
  button.minimal-indent:hover {
    background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%, false, false, false, false, false, false));
    -webkit-box-shadow: compact(inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px 2px 1px #e3e3e3, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px 2px 1px #e3e3e3, false, false, false, false, false, false);
    box-shadow: compact(inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px 2px 1px #e3e3e3, false, false, false, false, false, false);
    cursor: pointer; }
  button.minimal-indent:active {
    -webkit-box-shadow: compact(inset 0 0 30px 0 #999999, 0 1px 0 0 white, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(inset 0 0 30px 0 #999999, 0 1px 0 0 white, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 0 30px 0 #999999, 0 1px 0 0 white, false, false, false, false, false, false, false); }

/* webkit badge
*******************************************************************************/
button.webkit-badge {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
  color: #fff;
  font-family: "hoefler text", georgia, serif;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  height: 88px;
  line-height: 1;
  padding: 0;
  text-align: center;
  text-shadow: 0px -1px 1px #3d0700;
  width: 150px;
  -webkit-mask-image: url("../images/badge.png");
  -webkit-mask-position: left top;
  -webkit-mask-repeat: no-repeat; }
  button.webkit-badge:hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
    cursor: pointer; }
  button.webkit-badge:active {
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00)); }

/* webkit seal
*******************************************************************************/
button.webkit-seal {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #9e76e8), color-stop(1, #6224de));
  color: #fff;
  height: 90px;
  color: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  padding: 0;
  text-align: center;
  text-shadow: 0px -1px 1px #473569;
  width: 150px;
  -webkit-mask-image: url("../images/seal.png");
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat; }
  button.webkit-seal:hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #8d69cf), color-stop(1, #561fc4));
    cursor: pointer; }
  button.webkit-seal:active {
    background: -webkit-gradient(radial, 50% 50%, 40, 50% 50%, 0, from(rgba(38, 76, 153, 0.2)), to(rgba(11, 23, 46, 0.2))), -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #7b5cb5), color-stop(1, #4b1bab)); }

/* webkit check
*******************************************************************************/
button.webkit-check {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #779be9), color-stop(1, #2463de));
  color: #fff;
  height: 88px;
  line-height: 1;
  padding: 0;
  text-align: center;
  text-indent: -9999px;
  text-shadow: 0px -1px 1px #3d0700;
  width: 150px;
  -webkit-mask-image: url("../images/check.png");
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat; }
  button.webkit-check:hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #6989cf), color-stop(1, #1d55c4));
    cursor: pointer; }
  button.webkit-check:active {
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #5c78b5), color-stop(1, #1b4bab)); }

/* morgan
*******************************************************************************/
button.morgan{
	cursor:pointer;
	color: #969696;
	font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
	padding: 5px 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: 0px 1px 1px #bbb;
	-moz-box-shadow: 0px 1px 1px #bbb;
	text-shadow: 0px 1px 0px #ffffff;
	border: solid #bfbfbf 1px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
	background: -moz-linear-gradient(top, #ffffff, #ebebeb);
}
.morgan:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background: -moz-linear-gradient(top, #ffffff, #ffffff)
}
.morgan:active {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#ececec));
  background: -moz-linear-gradient(top, #dedede, #ececec);
	-webkit-box-shadow:inset 0px 1px 1px #bbb;
  	-moz-box-shadow:inset 0px 1px 1px #bbb;
}
/* morgan
*******************************************************************************/
button.morgan-round{
	cursor:pointer;
	color: #969696;
	font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
	padding: 5px 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-box-shadow: 0px 1px 1px #bbb;
	-moz-box-shadow: 0px 1px 1px #bbb;
	text-shadow: 0px 1px 0px #ffffff;
	border: solid #bfbfbf 1px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
	background: -moz-linear-gradient(top, #ffffff, #ebebeb);
}
.morgan-round:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background: -moz-linear-gradient(top, #ffffff, #ffffff)
}
.morgan-round:active {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#ececec));
  background: -moz-linear-gradient(top, #dedede, #ececec);
	-webkit-box-shadow:inset 0px 1px 1px #bbb;
  	-moz-box-shadow:inset 0px 1px 1px #bbb;
}



/* The Push Button
---------------------------------------------------------------------------------------- */
button.push {
  height: 32px;
  line-height: 32px;
  color: #FFF;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 0 14px;
  border: 2px solid #911208;
  border-bottom: 1px solid #911208;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  background: #ff5934;
  background: -moz-linear-gradient(top, #ff5934 0%, #dc4116 50%, #d02e17 51%, #b21109 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5934), color-stop(50%, #dc4116), color-stop(51%, #d02e17), color-stop(100%, #b21109));
  background: -webkit-linear-gradient(top, #ff5934 0%, #dc4116 50%, #d02e17 51%, #b21109 100%);
  background: -o-linear-gradient(top, #ff5934 0%, #dc4116 50%, #d02e17 51%, #b21109 100%);
  background: -ms-linear-gradient(top, #ff5934 0%, #dc4116 50%, #d02e17 51%, #b21109 100%);
  background: linear, compact(top, #ff5934 0%, #dc4116 50%, #d02e17 51%, #b21109 100%, false, false, false, false, false, false);
  -webkit-box-shadow: 0 1px 1px #000;
  -moz-box-shadow: 0 1px 1px #000;
  box-shadow: 0 1px 1px #000; }

button.push:before, button.push:after {
  content: '';
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

button.push:before {
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #ba1f17;
  background: -webkit-gradient(linear, left top, left bottom, from(#ba1f17), to(#e04d32));
  background: -webkit-linear-gradient(top, #ba1f17, #e04d32);
  background: -moz-linear-gradient(top, #ba1f17, #e04d32);
  background: -o-linear-gradient(top, #ba1f17, #e04d32);
  background: -ms-linear-gradient(top, #ba1f17, #e04d32);
  background: linear, compact(top, #ba1f17, #e04d32, false, false, false, false, false, false, false, false);
  z-index: -1; }

button.push:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 0; }

button.push:active {
height:33px;
  line-height: 34px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #911208;
  background: #a50402;
  background: -webkit-gradient(linear, left top, left bottom, from(#a50402), to(#e54321));
  background: -webkit-linear-gradient(top, #a50402, #e54321);
  background: -moz-linear-gradient(top, #a50402, #e54321);
  background: -o-linear-gradient(top, #a50402, #e54321);
  background: -ms-linear-gradient(top, #a50402, #e54321);
  background: linear, compact(top, #a50402, #e54321, false, false, false, false, false, false, false, false);
  -webkit-box-shadow: 0 0 0 #FFF;
  -moz-box-shadow: 0 0 0 #FFF;
  box-shadow: 0 0 0 #FFF; }

button.push:active:after {
  border: 2px solid #e74918;
  border-bottom: 0;
  opacity: .7; }

/* disabled button styles
   works with this markup: <button disabled="disabled">Submit</button>
*******************************************************************************/
button[disabled],
button[disabled]:hover,
button[disabled]:active {
  background: #999;
  border: 0;
  -webkit-box-shadow: compact(none, false, false, false, false, false, false, false, false);
  -moz-box-shadow: compact(none, false, false, false, false, false, false, false, false);
  box-shadow: compact(none, false, false, false, false, false, false, false, false);
  color: #aaa;
  cursor: not-allowed;
  text-shadow: none; }